<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - Brand</title>
    <link rel="stylesheet" href="/resources/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=UnifrakturCook:">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=UnifrakturMaguntia">
    <link rel="stylesheet" href="/resources/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/resources/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/resources/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="/resources/assets/css/Article-List.css">
    <link rel="stylesheet" href="/resources/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/resources/assets/css/Map-Clean.css">
    <link rel="stylesheet" href="/resources/assets/css/Responsive-Image-Grid.css">
    <link rel="stylesheet" href="/resources/assets/css/Team-Boxed.css">
    <link rel="stylesheet" href="/resources/assets/css/vanilla-zoom.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Pro">
    <style>
        body {
            font-family: 'Crimson Pro', serif;
            font-size: 48px;
        }
    </style>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap" rel="stylesheet">
</head>
 <%= %>
<body>
        <nav class="navbar navbar-light navbar-expand-md bg-dark clean-navbar" style="background: rgb(0,0,0);color: rgb(0,0,0);height: 60px;border-color: rgb(0,0,0);">
                <div class="container"><a class="navbar-brand logo" href="/" style="font-family: UnifrakturMaguntia, cursive;color: #F5D10D;font-size: 30px;">Lucky7Tattoo</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a class="nav-link active" href="gallery" style="color: #F5D10D;font-family: Montserrat, sans-serif;">Gallery</a></li>
                            <li class="nav-item"><a class="nav-link active" href="catalog-page" style="color: #F5D10D;font-family: Montserrat, sans-serif;">Shop</a></li>
                            <li class="nav-item"><a class="nav-link active" href="contact-us" style="color: #F5D10D;font-family: Montserrat, sans-serif;">Contact Us</a></li>
                            <li class="nav-item"><a class="nav-link active" href="login" style="color: #F5D10D;font-family: Montserrat, sans-serif;">Log In</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
    <main class="page login-page">
        <section class="clean-block clean-form dark" style="background: rgb(0,0,0);">
            <div class="container" style="font-family: UnifrakturMaguntia, cursive;">
                <div class="block-heading" style="color: #F5D10D;">
                    <h2 style="/*color: #f5d10d;*/font-family: UnifrakturMaguntia, cursive;/*border-color: #f5d10d;*/">
                        Log In</h2>
                </div>
                <form action="/login" method="POST">
                    <div class="mb-3"><label class="form-label" for="user"
                            style="font-family: UnifrakturMaguntia, cursive;font-size: 30px;">Username</label><input
                            class="form-control item" type="text" name="username" placeholder="Username" id="username" autofocus required></div>
                    <div class="mb-3"><label class="form-label" for="pass"
                            style="font-family: UnifrakturMaguntia, cursive;font-size: 30px;">Password</label><input
                            class="form-control" type="password" name="password" placeholder="Password" id="password" required></div>
                    <div class="mb-3">
                       <!-- <div class="form-check" style="font-family: UnifrakturMaguntia, cursive;"><input
                                class="form-check-input" type="checkbox" id="checkbox"><label class="form-check-label"
                                for="checkbox">Remember me</label></div> -->
                    </div>
                    <button class="btn btn-primary" type="submit value="Login">Log In</button><a href="/signup" class="btn btn-primary">Sign Up</a>
                </form>
            </div>
        </section>
    </main>
    <footer class="footer-basic" style="background: rgb(0,0,0);">
        <!-- Start: Social Icons -->
        <div class="social" style="transform: scale(1.30);"><a href="https://www.instagram.com/lucky7tattoord/" style="color: #F5D10D;"><i class="icon ion-social-instagram"></i></a><a href="https://bit.ly/Lucky7tattoo" style="color: #F5D10D;"><i class="icon ion-social-whatsapp-outline"></i></a></div><!-- End: Social Icons -->
        <!-- Start: Links -->
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/" style="font-family: Montserrat, sans-serif;color: #F5D10D;">Home</a></li>
            <li class="list-inline-item"><a href="gallery" style="font-family: Montserrat, sans-serif;color: #F5D10D;">Gallery</a></li>
            <li class="list-inline-item" style="font-family: Montserrat, sans-serif;"><a href="catalog-page" style="font-family: Montserrat, sans-serif;color: #F5D10D;">Shop</a></li>
            <li class="list-inline-item"><a href="contact-us" style="font-family: Montserrat, sans-serif;color: #F5D10D;">Contact Us</a></li>
        </ul><!-- End: Links -->
        <!-- Start: Copyright -->
        <p class="copyright">Lucky7Tattoo © 2021</p><!-- End: Copyright -->
    </footer>
    <script src="/resources/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/resources/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/resources/assets/js/vanilla-zoom.js"></script>
    <script src="/resources/assets/js/theme.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <% if (typeof alert != "undefined")  { %>
  <script>
    Swal.fire({
      title: '<%= alertTitle %>',
      text: '<%= alertMessage %>',
      icon: '<%= alertIcon %>',
      showConfirmButton: '<%= showConfirmButton %>',
      timer: '<%= timer %>',
 }).then(() => {
        window.location = '/<%= ruta %>'
      })
  </script>
  <% } %>
</body>

</html>